
.icon-glass:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-pin:before { content: '\e802'; } /* '' */
.icon-aboveground-rail:before { content: '\e803'; } /* '' */
.icon-beer:before { content: '\e804'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
